.separator{
    margin-top:25px;
    margin-bottom:25px;
}
blockquote{
    text-align: center;
    font-style: italic;
    border:none;
    color:#666;
    padding:1.5em;
    font-size:1.8em;
    font-weight:bold;
}

.nav>li>a:hover{
    color:yellow;
}